NEXT_PUBLIC_BACKEND_URL=http://localhost:8080
NEXT_PUBLIC_WS_URL=ws://localhost:8080/ws/timeline
NEXT_PUBLIC_OG_RPC_URL=https://evmrpc-testnet.0g.ai
NEXT_PUBLIC_OG_CHAIN_ID=16601
NEXT_PUBLIC_OG_EXPLORER_URL=https://chainscan-galileo.0g.ai
NEXT_PUBLIC_INFT_REGISTRY_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_TREASURY_FACTORY_ADDRESS=0x0000000000000000000000000000000000000000
