NEXT_PUBLIC_BACKEND_URL=<LOCAL_BACKEND_URL>
NEXT_PUBLIC_WS_URL=<LOCAL_TIMELINE_WS_URL>
NEXT_PUBLIC_OG_RPC_URL=<0G_EVM_RPC_URL>
NEXT_PUBLIC_OG_CHAIN_ID=<0G_CHAIN_ID>
NEXT_PUBLIC_OG_EXPLORER_URL=<0G_EXPLORER_URL>
NEXT_PUBLIC_INFT_REGISTRY_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_DEMO_TOKEN_ID=1
NEXT_PUBLIC_DEMO_TREASURY_ADDRESS=
